Flask
gunicorn
sqlalchemy
pymysql
python-amazon-sp-api
flask-login
Flask-SQLAlchemy
flask-migrate
stripe
fpdf2
reportlab
flask-security-too[fsqla,common]
bcrypt
#Werkzeug
pytz
cryptography
urllib3==1.25.11
rq
rq-dashboard
celery
kombu>=5.3.0