<!-- Below is from securirty/template forgot_password.html -->
{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
  {% include "security/_messages.html" %}
  <h1>{{ _fsdomain('Send password reset instructions') }}</h1>

<form action="/forgot_password" method="post" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    {{ render_field_with_errors(forgot_password_form.email) }}
    {{ render_field(forgot_password_form.submit) }}
  </form>
  {% include "security/_menu.html" %}
{% endblock content %}


<!-- Below is from chatGPT -->
<!-- <!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html> -->
