{% extends "base.html" %}
{% block title %}Amaze-Software{% endblock %}
{% block content %}
<div class = page-content>
<h1 id='title'>AmazeSoftware </h1>
<div class="section1-container">
    {% if tracking_id %}
    
    <div class="trackingID" style="z-index: 3;">

            <h5>{{tracking_id}}</h5>  
    </div>
    
        {% endif %}
<div class="intro"  style="z-index: 1;">
    <h3 id= "inro--scan">Scan For Info</h3>
    <h3 id ="intro--address">Address:</h3>
    <h3 id="intro--name">Item Name:</h3>
    <h3 id="intro--sku">SKU:</h3>
    <h3 id="intro--reason">Reason for Return:</h3>
    <h3 id="intro--number_items_bought">Number of items bought:</h3>
    <h3 id="intro--number_items_returned">Number of items returned:</h3>
    <h3 id="intro--inventory">Est. Inventory left:</h3>
    <h3 id="intro--order_id">Order ID:</h3>
    <h3 id="intro--refund_amount">Refund Amount</h3>
    <h3 id="intro--queue_checker">In Queue:</h3>
</div>

<div class="introAnswers" id="intro_answers"  style="z-index: 2;">
    <form method="POST" action="{{ url_for('views.get_info_on_track') }}">
        <input autofocus type="text" placeholder="Barcode" name="track"/>
        <input  id='searchButton' type="submit" value="Enter">
    </form>

    {% if passed_value %}
        <h3 id="intro_answers--address">{{address}}</h3>
        <h3 id="intro_answers--item_name">{{passed_value['item_name']}}</h3>
        <h3 id="intro_answers--sku">{{passed_value['sku']}}</h3>
        <h3 id="intro_answers--reason_returned">{{passed_value['reason_returned']}}</h3>
        <h3 id="intro_answers--order_quantity">{{passed_value['order_quantity']}}</h3>
        <h3 id="intro_ansers--return_quantity">{{passed_value['return_quantity']}}</h3>
        <h3 id="intro_answers--inventory">{{passed_value['Inventory']}}</h3>
        <h3 id="intro_answers--order_id">{{passed_value['order_id']}}</h3>
        <h3 id="intro_answers--refund_amount">{{passed_value['refund_amount']}}</h3>
        <h3 id="intro_answers--queue_checker">{{queue_checker}}</h3>
    {% else %}
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
    {% endif %}
</div>
      
    
</div>

<div id="addToQueueButton"  style="z-index: 4;">
    <form action="/add_to_queue_button" method='post'>
        <input class= "buttonType" id="addToQueue" type="submit" value="Add to queue">
    </form>
</div>


<div class="section2-extra-container">

    <button class="Refresh_Button" id="refreshButton">Refresh Returns and Inventory Data</button>
    <button class="Clear_Search_Button" id="clearSearchButton">Clear Search</button>

    <div id="refreshTable">
        <table class="Refresh_Table">
            <tr>
                <th>Refresh Status</th>
                <th>Complete</th>
                <th>Last Refresh Attempt</th>
                <th>Last Refresh Successful</th>
            </tr>
            {% if my_refresh_tracker %}
                <tr>
                    <td>{{ my_refresh_tracker['status'] }}</td>
                    <td>{{ my_refresh_tracker['complete'] }}</td>
                    <td>{{ my_refresh_tracker['time_clicked'] }}</td>
                    <td>{{ my_refresh_tracker['time_completed'] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                </tr>
            {% endif %}
        </table>
    </div>
    
</div>

<div class="section3-extra-container">
    <button class="Clear_Queue_Button" id="clearQueueButton">Clear Queue</button>
    <button class="Download_pdf" id="downloadPdfButton" data-url="{{ url_for('views.download_queue') }}">Download a pdf of Queue</button>
    <button class="Download_slim" id="downloadSlimButton" data-url="{{ url_for('views.download_inventory_to_change_slim') }} ">Download Inventory Change Slim</button>
</div>


    


<div class="section4-queue-container">
      <button class="button_add_to_jobs" id='addToJobsButton' >ADD QUEUE TO JOBS</button>
<div class="queue-grid">
    <h1 style="text-align: center; color: black;">Queue</h1>
    {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no Tracking ID's in the queue. Add one now!</h4>
    {% else %}
        <table>
            <tr>
                <th>Tracking IDs</th>
                <th>sku</th>
                <th>Quantity Returned</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task['tracking'] }}</td>
                    <td>{{task['SKU']}}</td>
                    <td>{{task['return_quantity']}}</td>
                    <td>
                        <a href="/delete/{{task['tracking']}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
</div>
    
</div>
<script src="{{url_for('static', filename='home.js')}}" ></script>
{% endblock %}
