{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 style='color:black;'>AmazeSoftware </h1>

<div class="intro">
    <h3>Scan For Info</h3>
    <h3>Address:</h3>
    <h3>Item Name:</h3>
    <h3>SKU:</h3>
    <h3>Reason for Return:</h3>
    <h3>Number of items bought:</h3>
    <h3>Number of items returned:</h3>
    <h3>Est. Inventory left:</h3>
    <h3>Order ID:</h3>
    <h3>Refund Amount</h3>
    <h3>In Queue:</h3>
</div>

<div class="introAnswers">
    <form method="POST" action="{{ url_for('views.get_info_on_track') }}">
        <input type="text" placeholder="Barcode" name="track"/>
        <input type="submit" value="Enter">
    </form>

    {% if passed_value %}
        <h3>{{address}}</h3>
        <h3>{{passed_value['item_name']}}</h3>
        <h3>{{passed_value['sku']}}</h3>
        <h3>{{passed_value['reason_returned']}}</h3>
        <h3>{{passed_value['order_quantity']}}</h3>
        <h3>{{passed_value['return_quantity']}}</h3>
        <h3>{{passed_value['Inventory']}}</h3>
        <h3>{{passed_value['order_id']}}</h3>
        <h3>{{passed_value['refund_amount']}}</h3>
        <h3>{{queue_checker}}</h3>
    {% else %}
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
        <h3>-</h3>
    {% endif %}
</div>

<div class="checkList">
    <form action="/add_to_queue_button" method='post'>
        <input type="submit" value="Add to queue">
    </form>
</div>

<br>
<a class="button_add_to_jobs" href='/create_job' onclick="return confirm('Add the queue to your jobs. The increase inventory operation will execute at 12:00 am ET every night.');">Add to Jobs</a>


<div class="trackingID">
    {% if tracking_id %}
        <h5>{{tracking_id}}</h5>
    {% endif %}
</div>

<a class="Clear_Search_Button" href="/clearSearch">Clear Search</a>
<br>
<a class="Refresh_Button" href="/refresh_returns_and_inventory" style="position: relative; top:-350px; left:50px;">Refresh Returns and Inventory Data</a>

<div style="max-width: 300px; margin: 0 auto; padding: 10px; text-align: left; position: relative; top:-360px; left:-370px;">
    <table class="Refresh_Table" style="max-width: 100%; margin-top: 5px; margin-bottom: 0;text-align: center;">
        <tr>
            <th>Refresh Status</th>
            <th>Complete</th>
            <th>Last Refresh Attempt</th>
            <th>Last Refresh Successful</th>
        </tr>
        {% if my_refresh_tracker %}
            <tr>
                <td>{{ my_refresh_tracker['status'] }}</td>
                <td>{{ my_refresh_tracker['complete'] }}</td>
                <td>{{ my_refresh_tracker['time_clicked'] }}</td>
                <td>{{ my_refresh_tracker['time_completed'] }}</td>
            </tr>
        {% else %}
            <tr>
                <td>None</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
            </tr>
        {% endif %}
    </table>
</div>

<br>
<a class="Clear_Queue_Button" href="/clearQueue" onclick="return confirm('Are you sure you want to clear the queue?');">Clear Queue</a>
<a class="Download_pdf" href="{{url_for('views.download_queue')}}">Download a pdf of Queue</a>
<a class="Download_slim" href="{{url_for('views.download_inventory_to_change_slim')}}">Download Inventory Change Slim</a>

<div class="content">
    <h1 style="text-align: center; color: black;">Queue</h1>
    {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no Tracking ID's in the queue. Add one now!</h4>
    {% else %}
        <table>
            <tr>
                <th>Tracking IDs</th>
                <th>sku</th>
                <th>Quantity Returned</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task['tracking'] }}</td>
                    <td>{{task['SKU']}}</td>
                    <td>{{task['return_quantity']}}</td>
                    <td>
                        <a href="/delete/{{task['tracking']}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

{% endblock %}
