<!-- IF the my_task_tracker status is PARTIAL the skus that went through should be in green and the ones that failed should be red -->

{% extends "base.html" %} {% block title %}Jobs{% endblock %} {% block content
%}

<a href="{{url_for('views.jobs')}}">Back</a>

<div class="job-info-content">
  <h1 style="text-align: center; color: black; ">Job ID: {{job_id}}</h1>
      {% if queue|length < 1 %}
        <h4 style="text-align: center">This job is empty</h4>
        {% else %}
        <table>
          <tr>
            <th style="text-align: center;">Tracking IDs</th>
            <th style="text-align: center;">SKU</th>
            <th style="text-align: center;">Quantity Returned</th>
            <!-- <th>Actions</th> -->
          </tr>
          {% if my_task_tracker['status'] == 'PARTIAL'%}

          
          <p>Notice: Green indicates was successfully increased in inventory. Red indicates it failed. Since the status for this task is 'PARTIAL' when this job executes next only the SKUS in red will be executed.</p>

          
              {% for task in queue %}
                {% set skus = task['SKU'].split(', ') %}
                  <tr>
                    <td>{{ task['tracking'] }}</td>
                    <td>
                    {% for sku in skus %}
                        <span style="{% if sku in my_task_tracker['skus_successful'] %}color: green;{% else %}color: red;{% endif %}">{{ sku }}</span>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{task['return_quantity']}}</td>  
                  </tr>
              {% endfor %}         
          
            {% else %}
              {% for task in queue %}
                <tr>
                  <td>{{ task['tracking'] }}</td>
                  <td>{{task['SKU']}}</td>
                  <td>{{task['return_quantity']}}</td>
                  <!-- <td> <a href="/delete/{{task['tracking']}}">Delete</a>
                    <br> -->
                    <!-- <a href="/update/{{task.id}}">Update</a>-->
                  <!-- </td> -->
                </tr>
              {% endfor %}
            {% endif %}
          
        </table>
        {% endif %}




</div>

{% endblock %}