<!-- IF the my_task_tracker status is PARTIAL the skus that went through should be in green and the ones that failed should be red -->

{% extends "base.html" %} {% block title %}Jobs{% endblock %} {% block content
%}

<a href="{{url_for('views.jobs')}}">Back</a>
<br>
<br>
<p>SKUS Successful: {{my_task_tracker['skus_successful']}}</p>
<p>Skus Failed: {{my_task_tracker['skus_failed']}}</p>


<div class="job-info-content">
  <h1 style="text-align: center; color: black; ">Job ID: {{job_id}}</h1>
      {% if queue|length < 1 %}
        <h4 style="text-align: center">This job is empty</h4>
        {% else %}
        <p>Notice: </p>
        <p style= "color: green;" >-Green indicates the SKU was successfully increased in inventory. </p>
        <p style= "color: red;">-Red indicates the SKU failed. If the status for a task is 'PARTIAL', then when the job executes next only the SKUS in red will be executed/retried.</P
        <p>-Black indicates the SKU has not been attempted yet.</p>
        <table>
          <tr>
            <th style="text-align: center;">Tracking IDs</th>
            <th style="text-align: center;">SKU</th>
            <th style="text-align: center;">Quantity Returned</th>
            <!-- <th>Actions</th> -->
          </tr>

          
              {% for task in queue %}
                {% set skus = task['SKU'].split(', ') %}
                  <tr>
                    <td>{{ task['tracking'] }}</td>
                    <td>
                      {% for sku in skus %}
                          <span style="{% if my_task_tracker['skus_successful'] is not none and sku in my_task_tracker['skus_successful'] %}color: green;{% elif my_task_tracker['skus_failed'] is not none and sku in my_task_tracker['skus_failed']%}color: red;{% endif %}">{{ sku }}</span>{% if not loop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                    <td>{{task['return_quantity']}}</td>  
                  </tr>
              {% endfor %}         
          
        </table>
        {% endif %}




</div>

{% endblock %}