{% extends "base.html" %} {% block title %}Jobs{% endblock %} {% block content
%}
<a href="{{url_for('views.tasks')}}">Tasks</a>
      <br>                                 
<a href="{{url_for('views.home')}}">Back</a>

<div class="jobs-content">
  <h1 style="text-align: center; color: black; ">Jobs</h1> 
  <p>The Jobs Table will execute at 12:00 am Est every night.</p>
  <a href='/increase_inventory_all_jobs' onclick="return confirm('Execute All Jobs in Jobs Table');">Excecute All in Jobs Table</a>     <!-- style ='position: relative; left:200px' -->
  {% if jobs|length < 1 %}
    <h4 style="text-align: center">There are no upcoming Jobs</h4>
    {% else %}
    <table>
      <tr>
        <th>Job IDs</th>
        <th>Name</th>
        <th>Status</th>
        <th>Complete</th>
        <th>Time Added To Jobs</th>
        <th>Time Launched</th>
        <th>Time Completed</th>
        <th>Actions</th>
        <th></th>
        <th></th>
        <th></th>
        <!-- <th>Actions</th>> -->
      </tr>
      {% for job in jobs %}
        <tr>
          <td>{{ job['id'] }}</td>
          <td>{{job['name']}}</td>
          <td>{{job['status']}}</td>
          <td>{{job['complete']}}</td>
          <td>{{job['time_added_to_jobs']}}</td>
          <td>{{job['time_task_associated_launched']}}</td>
          <td>{{job['time_completed']}}</td>
          
          <td><a href="/jobs/info/{{job.id}}" >Info</a></td>
          <td><a href="/jobs/save_for_later/{{job.id}}" onclick="return confirm('Save For Later Task ID : {{job.id}}');" > Save for Later </a></td>
          <td><a href="/increase_inventory/{{job.id}}" onclick="return confirm('Execute Task ID : {{job.id}}');" >Execute</a></td>
          <td><a href="/jobs/delete/{{job.id}}" onclick="return confirm('Delete Task ID : {{job.id}}');" >Delete</a></td>
            <!-- <br> -->
            <!-- <a href="/update/{{job.id}}">Update</a>-->
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </br>
    <h1 style="text-align: center; color: black; ">Saved for Later</h1>
    
    {% if saved_for_later|length < 1 %}
      <h4 style="text-align: center"></h4>
      {% else %}
      <table style="text-align: center;">
        <tr>
          <th>Job IDs</th>
          <th>Name</th>
          <th>Status</th>
          <th>Complete</th>
          <th>Time Added To Jobs</th>
          <th>Time Launched</th>
          <th>Time Completed</th>
          <th>Actions</th>
          <th></th>
          <th></th>
          <th></th>
          <!-- <th>Actions</th>> -->
        </tr>
        {% for job in saved_for_later %}
          <tr>
            <td>{{ job['id'] }}</td>
            <td>{{job['name']}}</td>
            <td>{{job['status']}}</td>
            <td>{{job['complete']}}</td>
            <td>{{job['time_added_to_jobs']}}</td>
            <td>{{job['time_task_associated_launched']}}</td>
            <td>{{job['time_completed']}}</td>

            <td><a href="/jobs/info/{{job.id}}" >Info</a></td>
            <td><a href="/jobs/return_from_save_for_later/{{job.id}}" onclick="return confirm('Return to Job Task ID : {{job.id}}');" > Return to Jobs </a></td>
            <td><a href="/increase_inventory/{{job.id}}" onclick="return confirm('Execute Task ID : {{job.id}}');" >Execute</a></td>
            <td><a href="/jobs/delete/{{job.id}}" onclick="return confirm('Delete Task ID : {{job.id}}');" >Delete</a></td>
           
              <!-- <br> -->
              <!-- <a href="/update/{{job.id}}">Update</a>-->
          </tr>
        {% endfor %}
      </table>
      {% endif %}

       </br>
    <h1 style="text-align: center; color: black; ">History</h1> 
    <a href="/delete_whole_history" onclick='return confirm("Are you sure you want to delete all history?");' >Delete All History</a>

    {% if history|length < 1 %}
        <h4 style="text-align: center"></h4>
        {% else %}
        <p>This shows the last 30 jobs in History</p>
        <table>
          <tr>
            <th>Job IDs</th>
            <th>Name</th>
            <th>Status</th>
            <th>Complete</th>
            <th>Time Added To Jobs</th>
            <th>Time Launched</th>
            <th>Time Completed</th>
            <th>Actions</th>
            <th></th>
            <th></th>
          </tr>
          {% for job in history %}
            <tr>
              <td>{{ job['my_task_tracker'] }}</td>
              <td>{{job['name']}}</td>
              <td>{{job['status']}}</td>
              <td>{{job['complete']}}</td>
              <td>{{job['time_added_to_jobs']}}</td>
              <td>{{job['time_celery_launch']}}</td>
              <td>{{job['time_completed']}}</td>
              
              <td><a href="/jobs/info/{{job.my_task_tracker}}">Info</a></td>
              <td><a href="/move_history_to_jobs/{{job.my_task_tracker}}" onclick="return confirm('Move to Jobs Task ID : {{job.my_task_tracker}}');" >Move to Jobs</a></td>
              <td><a href="/history/delete/{{job.id}}" onclick="return confirm('Delete Task ID : {{job.my_task_tracker}}');" >Delete</a></td>

            </tr>
          {% endfor %}
        </table>
        {% endif %}


  
</div>

{% endblock %}