{% extends "base.html" %}{% block title %}Sign Up{% endblock %} 
{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors, render_field_errors %}
{% block
content %}

{% include "security/_messages.html" %}
<h3 align="center">Sign Up</h3>
<h1>{{ _fsdomain('Register') }}</h1>
<form action="{{ url_for_security('register') }}" method="post" name="register_user_form">

  {{ register_user_form.hidden_tag() }}
  {{ render_form_errors(register_user_form) }}

  <div class="form-group">
  {{ render_field_with_errors(register_user_form.email, class="form-control custom-email-field") }}
  </div>

  <div class="form-group">
  {% if config["SECURITY_USERNAME_ENABLE"] %}{{ render_field_with_errors(register_user_form.username, class="form-control custom-email-field") }}{% endif %}
  </div>

  <div class="form-group">
  {{ render_field_with_errors(register_user_form.password, class="form-control custom-password-field") }}
  </div>

  <div class="form-group">
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm, class="form-control custom-password-field") }}
  {% endif %}
  </div>

  {{ render_field_errors(register_user_form.csrf_token) }}
   <br />
  {{ render_field(register_user_form.submit, class="btn btn-primary custom-submit-button") }}
</form>




<!-- 
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      autofocus
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
{% endblock %}