<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YREVNRFH6S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YREVNRFH6S');
</script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subscription Plans</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet"> -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
  </head>

  <body>

    <div style ="padding-top: 10vh;"class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('views.home') }}">Home </a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Amaze-Software</h3>
      </div>

      <div class="jumbotron">
        <!-- <h1 class="display-3">The Product</h1>
        <p class="lead">Purchase The Product for only $99.</p> -->


      

        <div class="container mt-5">
        <h4>Monthly Plan:</h4>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Monthly Payment $40/month</h5>
            <p>Comes with 30 day free trial</p>
            <a href="#" id="buy_now_btn_monthly" class="btn btn-primary">Subscribe</a>
          </div>
        </div>
    </div>

          <div class="container mt-5">
        <h4>Yearly Plan:</h4>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Yearly Payment     $200/year</h5>
            <p>Comes with 30 day free trial</p>
            <a href="#" id="buy_now_btn_yearly" class="btn btn-primary">Subscribe</a>
          </div>
        </div>
    </div>

        
        <!-- <a href="#" id="buy_now_btn" class="btn btn-primary">One Time</a> -->
        
        <!-- <a href="#" id="buy_now_btn_yearly" class="btn btn-primary">Yearly</a> -->
      </div>

      <footer class="footer">

      </footer>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script>
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
      <script src="{{ url_for('static', filename='script-ajax.js') }}"></script>

    </div> <!-- /container -->
  </body>
</html>