{% extends "base.html" %} {% block title %}Tasks{% endblock %} {% block content
%}
<p >This will display the last 30 Tasks</p>
<h1 style="text-align: center; color:black">Tasks</h1>
{% if tasks|length < 1 %}
  <h4 style="text-align: center">There is no Task History</h4>
  {% else %}
  <a href='/delete_all_tasks'   onclick='return confirm("Are you sure you want to delete all Tasks?");'>Delete all Tasks</a>
  <table>
    <tr>
      <th>Task ID</th>
      <th>Status</th>
      <th>Complete</th>
      <th>Time Created</th>
      <th>Time Completed</th>
      <th>Job IDs</th>
      <th>Actions</th>
      <th></th>
    </tr>
    {% for task in tasks %}
      <tr>
        <td>{{ task['id'] }}</td>
        <td>{{task['status']}}</td>
        <td>{{task['complete']}}</td>
        <td>{{task['time_created']}}</td>
        <td>{{task['time_completed']}}</td>
        {% if task['my_task_trackers_ids_array'] %}
          <td>{{task['my_task_trackers_ids_array']}}</td>
        {%else%}
          <td>{{task['my_task_tracker']}}</td>
        {%endif%}
        <td><a href="/tasks_skus/info/{{task['id']}}"]}}" >Info</a></td>
        <td><a href="/task/delete/{{task['id']}}" onclick="return confirm('Delete Task ID : {{task.id}}');">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}