{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


</br>
</br>
</br>
<p>Do Not</p>
</br>
<p>This website only accesses data for returns within the last 200 days</p>
<p>- Refreshing returns will return a STATUS of FATAL if you have no return data in the last 200 days  </p>
<p>- Increasing inventory for a sku will fail if it is not listed in your inventory </p>
<br>
<h5>Instructions</h5>
<p>1. Scan your  </p>
<p>2. </p>

<br>
<p>Steps if increasing inventory fails:</p>
<p>1. Make sure the skus rejected are activekly listed in your inventory</p>

<br>
<p>Steps if refreshing returns fails:</p>
<p>1. Check if you have returns in the last 200 days</p>



{% endblock %}