#title {
    color: black;
}
.section1-container{
    max-height: 600px
}

body h1{
            color:Azure;
        }

body {
    /*background-color: #f2f2f2;*/
    background-color: #008B8B;
    font-family: Arial;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    margin-top: 10px;
    text-align: center;
}
h3{
   margin-top: 5px;
   margin-bottom: 0;
   margin-left: 0;
   margin-right: 0;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.intro{
    position: relative;
    top: 50px;
    left: 50px;

}

.introAnswers{
    position: relative;
    top: -402px;
    left: 440px;
    max-width: 900px;

}

.image{
    width: 300px;
    position: relative;
    top: -80px;
    left: 150px;
}


.section3-extra-container{
    padding-bottom:200px;
}
.section4-queue-container{
    text-align: center;
}
.button_add_to_jobs{
}
.button_go_to_jobs{
  position: relative;
  top:-152px;
  left:700px;
}

button {
    background-color: #AFEEEE; /* Green  #4CAF50*/  
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
.buttonType{
    background-color: #AFEEEE; /* Green  #4CAF50*/  
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
   
}
#searchButton{
 /* Green  #4CAF50*/  
    color: black;

}
#addToQueueButton{
        position: relative;
        top: -150px;
        left: 900px;
}


.trackingID{
    position: relative;
    top:85px;
    left:750px;
    width: 245px;
    background-color:#AFEEEE; /*#00FFFF;*/
    text-align: center;
    padding-top: 1px;
    padding-bottom: 0px;
    min-height:30px

}

#refreshTable {
    max-width: 300px; 
    margin: 0 0; 
    padding: 10px; 
    text-align: left !important; 

}
.Refresh_Table{
    max-width: 100%; 
    margin-top: 5px; 
    margin-bottom: 0;
    text-align: left !important;
}

/* .Refresh_Button{
    position: relative;
    top:-350px;
    left:50px;
    width: 160px;

}
.Clear_Search_Button{
    position: relative;
    top:0px;
    left:0px;
    width: 160px;

} */
/* .Clear_Queue_Button{
    position: relative;
    top:-150px;
    left:40px;
    width: 160px;

}
.Download_pdf{
    position: relative;
    top:-120px;
    left:-51px;


}
.Download_slim{
    position: relative;
    top:-90px;
    left:-238px;

} */


.jobs-content {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    top:0px;
    left:0px;
}

table.jobs-content, td.jobs-content, th.jobs-content {
    border: 1px solid #aaa;
}

table.jobs-content {
    border-collapse: collapse;
    width: 100%;
}

th.jobs-content {
    height: 30px;
}

td.jobs-content {
    text-align: center;
    padding: 5px;
}

/*This is from youtube flask*/
.queue-grid {
    margin: 0 auto;
    width: 400px;
    position: relative;
    padding-top:30px;
    padding-bottom:400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    padding: 10px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#queue-grid {
    width: 69%;
}